.ResultContainer,
.DriverContainer {
    width: 80vw;
    overflow: auto;
    margin: auto;
    margin-left: 15vw;
    padding-top: 10vh;

    h1 {
        color: red;
        margin-top: 0.3em;
        padding: 1em 0;
        text-transform: uppercase;
    }
    .ResultSearch,
    .DriverSearch {
        display: flex;
        justify-content: space-evenly;
        justify-items: center;
        align-items: center;

        select{
            width: 10vw;
            font-size: 1em;
            outline: none;
            border: none;
            border-bottom: 1px solid red;
        }
        input{
            border: none;
            border-bottom: 1px solid red;
            width: 15vw;
            font-size: 1em;
            outline: none;
            outline: none;
        }
        button{
            border: none;
            background-color: red;
            color: white;
            padding: 0.5em 1em;
            font-size: 1em;
            cursor: pointer;
            outline: none;
        }
    }

    
    .RaceName{
        color: red;
        padding-top: 1em;
    }
}

@media (max-width:768px) {
    .ResultContainer,
    .DriverContainer {
        width: 90vw;
        margin: auto;
        padding-top: 10vh;

        .ResultSearch,
        .DriverSearch {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 20vh;

            select {
                width: 15vw;
                font-size: 1em;
                margin-left: 3vw;
                outline: none;
            }

            input {
                border: none;
                border-bottom: 1px solid red;
                width: 15vw;
                font-size: 1em;
                outline: none;
                margin-left: 3vw;
                outline: none;
            }

            button {
                border: none;
                background-color: red;
                color: white;
                padding: 0.5em 1em;
                font-size: 1em;
                cursor: pointer;
                outline: none;
            }
        }
    }
}